@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>

<address>
    326 Market St,<br />
    Harrisburg, PA 17101<br />
    <abbr title="Phone">P:</abbr>
    717.901.5100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:FLin@my.harrisburgu.edu">FLin@my.harrisburgu.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:QJi@my.harrisburgu.edu">QJi@my.harrisburgu.edu</a>
</address>