@{
    ViewBag.Title = "Home Page";
}

<div class="top-content">
    <div class="background-mask">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text">
                    <h1>A Brand New Shopping Experience</h1>
                    <div class="description">
                        <p class="medium-paragraph">
                            aStar is modern shopping web site prodives thousands products with the best services.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 features section-description">
        <h2>Why Choose US?</h2>
        <div class="divider-1"><div class="line"></div></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 features-box">
        <div class="row">
            <div class="col-sm-3 features-box-icon">
                <i class="fa fa-shopping-cart"></i>
            </div>
            <div class="col-sm-9">
                <h3>More Products</h3>
                <p>
                    Do greatest at in learning steepest. Breakfast extremity suffering one who all otherwise suspected. 
                    He at no nothing forbade up moments. Wholly uneasy at missed be of pretty whence. 
                    John way sir high than law who week. Surrounded prosperous introduced it if is up dispatched. 
                    Improved so strictly produced answered elegance is.
                </p>
                <p><a class="btn btn-primary" href="/Product">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 features-box">
        <div class="row">
            <div class="col-sm-3 features-box-icon">
                <i class="fa fa-search"></i>
            </div>
            <div class="col-sm-9">
                <h3>Great Experience</h3>
                <p>
                    Now eldest new tastes plenty mother called misery get. Longer excuse for county nor except met its things. 
                    Narrow enough sex moment desire are. Hold who what come that seen read age its. 
                    Contained or estimable earnestly so perceived. Imprudence he in sufficient cultivated. 
                    Delighted promotion improving acuteness an newspaper offending he. Misery in am secure theirs giving an. 
                    Design on longer thrown oppose am.
                </p>
                <p><a class="btn btn-success" href="/Product">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 features-box">
        <div class="row">
            <div class="col-sm-3 features-box-icon">
                <i class="fa fa-android"></i>
            </div>
            <div class="col-sm-9">
                <h3>Cross Platform</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                    Ut wisi enim ad minim veniam, quis nostrud.
                </p>
                <p><a class="btn btn-info" href="/Home/About">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 features-box">
        <div class="row">
            <div class="col-sm-3 features-box-icon">
                <i class="fa fa-at"></i>
            </div>
            <div class="col-sm-9">
                <h3>Extraordinary Service</h3>
                <p>
                    How promotion excellent curiosity yet attempted happiness. Gay prosperous impression had conviction. 
                    For every delay death ask style. Me mean able my by in they. Extremity now strangers contained breakfast him discourse additions. 
                    Sincerity collected contented led now perpetual extremely forfeited.
                </p>
                <p><a class="btn btn-info" href="/Home/Contact">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
</div>