@model MVCApplication.Models.Product

@{
    ViewBag.Title = "Product Details";
}
<div class="jumbotron">
    <h1>Product Details</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <p>
            <img src="@Url.Content(Model.Image)" alt="" />
        </p>
    </div>
    <div class="col-md-3">
        <div class="row">
            <p style="font-size:30px">@Html.DisplayFor(model => model.Name)</p>
        </div>
        <div class="row">
            <p style="font-size:20px">Price: $@Html.DisplayFor(model => model.Price)</p>
        </div>
        <div class="row">
            <p style="font-size:15px;font-weight:bold">Details:</p>
            <p style="font-size:15px">@Html.DisplayFor(model => model.Detail)</p>
        </div>
    </div>
</div>


